@import "tailwindcss";

:root {
  --sky: #80D4FF;
  --periwinkle: #809FFF;
  --lemon: #FFFF80;
  --periwinkle-2: #838dff;
  --periwinkle-3: #9183ff;
  --periwinkle-4: #a183ff;
  --periwinkle-5: #b183ff;
  --ink: #17334d;
}

@theme {
  --button-hover-scale: 1.05;
  --button-hover-brightness: 1.1;

  --animate-wave-breathe-x: wave-breathe-x 30s ease-in-out infinite;
  --animate-wave-breathe-x-delay5s: wave-breathe-x 30s ease-in-out 5s infinite;
  --animate-wave-breathe-y: wave-breathe-y 30s ease-in-out infinite;
  --animate-wave-breathe-y-delay5s: wave-breathe-y 30s ease-in-out 5s infinite;

  @keyframes wave-breathe-x {
    from {
      transform: scale(2, 1);
    }
    50% {
      transform: scale(2, 1) translate(10%, 0%);
    }
    to {
      transform: scale(2, 1) translate(0%, 0%);
    }
  }
  @keyframes wave-breathe-y {
    from {
      transform: scale(1, 2);
    }
    50% {
      transform: scale(1, 2) translate(0%, 10%);
    }
    to {
      transform: scale(1, 2) translate(0%, 0%);
    }
  }
}

button:hover,
nav a:hover {
  scale: var(--button-hover-scale);
  filter: brightness(var(--button-hover-brightness));
}
